<h1>Data Science Tools and Ecosystem</h1>

##### In this notebook , Data Science Tools and Ecosystem are sumarized

##### Some of the popular languages that Data Science use are:
1. R
2. Python
3. C++
4. JavaScript

##### Some of the popular languages that Data Scientists use are:
1. ggplot
2. Matplotlib
3. Numpy

| Data Science Tools |
| ------------------ |
| RStudio |
| Scala |
| Jupyter Notebooks |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

* This a simple arithmetic expression to mutiply then add integers

In [15]:
print("(3*4)+5")
a = (3*4)+5
print(a)

(3*4)+5
17

* This will convert 200 minutes to hours by diving by 60

In [16]:
print("(200 min * 1 hrs)/60 min")
b = (200*1)/60
print(b)

(200 min * 1 hrs)/60 min
3.3333333333333335

**Objectives:**
- Languages for Data Science
- Libraries for Data Science
- Data Science Tools
- Arithmetics in Jupyter Notebooks

<h2>Author</h2>
Juan Camilo Tovar Cabrera